@media screen and (max-width: 576px) {
    
    .navbar{
        flex-direction: column;
        gap:10px;
        justify-content: center;
        align-items: center;
    }
    .navbar-items{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 0;
    }
    body{
        margin: 15px;
    }
    header{
        margin: 0;
        text-align: center;
    }
    .banner-container{
        flex-direction: column-reverse;
        gap: 50px;
    }
    .banner-image{
        
        background-repeat: no-repeat;
        background-position: center;
    }
    .banner-image img{
        width: calc(100% - 55px);
        margin: 51px 33px 16px 22px;
    }
    .banner-contant{
        text-align: center;
    }
    .banner-title{
        font-size: 1.75rem;
    }
    .logo{
        grid-template-columns: repeat(4,1fr);
        gap: 12px;
        margin: 30px auto 30px;
        padding: 20px 0 20px;
        width: 90%;
    }
    .logo img{
        width: 70%;
    }
    
    
}