@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: "Poppins", sans-serif; */

*{
    margin: 0;
}

body{
    font-family: "Poppins", sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}
/* shared style */

/* header section style */
header{
    margin: 87px 120px;
}
/* nav style */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand{
    color: rgb(58, 58, 58);
    font-size: 1.5rem;
    font-weight: 700;
}

.navbar-items{
    display: flex;
    align-items: center;
    gap: 34px;
    list-style: none;
}
.navbar-item a{
    text-decoration: none;
    color: rgb(58, 58, 58);
    font-size: 1rem;
    font-weight: 600;
    
}
.nav-image-1{
    width: 19px;
}
.nav-image-2{
    width: 29px;
}
